#Home {
	text-align: center;
	height: 100vh;
	width: 100%;
	background-color: #41A1CA;
}

.padding {
	padding-top: 250px;
	padding-bottom: 100px;
}

#About {
	padding-top: 80px;
	text-align: center;
	height: 100vh;
	width: 100%;
	background-color: #41A1CA;
}

.rectangle {
	margin-left: 350px;
	background: #D4EEEB;
	width: 650px;
	height: 520px;
}

button:hover {
	border-style: solid;
}
img {
	margin: 70px 0px 0px -100px; 
	object-fit: cover;
	width: 150px;
	height: 200px;
}
#right {
	text-align: left;
}

.bio li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

#Education {
	padding-top: 80px;
	text-align: center;
	height: 100vh;
	width: 100%;
	background-color: #41A1CA;
}

#Contact {
	padding-top: 80px;
	text-align: center;
	height: 100vh;
	width: 100%;
	background-color: #41A1CA;
}

#space {
	padding-left: 30px;
	padding-right: 50px;
}

#Hobby {
	padding-top: 80px;
	text-align: center;
	height: 100vh;
	width: 100%;
	background-color: #41A1CA;
}

.font {
	padding-top: 140px;
}