{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="bootstrap.css">
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-light fixed-top">
  		<ul class="navbar-nav mr-auto">
    		<li class="nav-item">
      			<a class="nav-link" href="#Home">Home</a>
  		</ul>
  		<ul class="navbar-nav ml-auto">
   			</li>
    		<li class="nav-item">
      			<a class="nav-link" href="#About">About Me</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#Education">Education and Experience</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#Contact">Contacts</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#Hobby">Hobby</a>
    		</li>
  		</ul>
	</nav>
	{% block content %}
	{% end block %}
</body>
</html>