{% extends base.html %}
{% block content %}
{% load static %}
	<section id="Hobby">
		<h2>My Hobbies</h2>
		<div class="rectangle font">
			<div>
				<h3>Book</h3>
				<p>My favorite books of this year: *</p>
			</div>
			<div>
				<h3>Music</h3>
				<p>My favorite songs of this year: *</p>
			</div>
			<div>
				<h3>Film</h3>
				<p>My favorite films of this year: *</p>
			</div>
			<p style="padding-top: 110px; text-align: left;">*content coming soon</p>		
		</div>

	</section>
{% endblock %}