{% extends base.html %}
{% block content %}
{% load static %}
	<section id="Home">
		<div class="padding">
			<h1>Hello, <br> I'm Nunun!</h1>
		</div>
		<div>
			<button>More about me <br> v</button>
		</div>
	</section>
	
	<section id="About">
		<h2>More About Me</h2>
		<div class="rectangle">
			<ul class="bio">
				<li>
					<img src="foto.jpg" align="left">
				</li>
				<li id="right">
					<p>Full Name <br> <b>Nunun Hidayah</b></p>
					<p>Birthdate <br> <b>20 August 2000</b></p>
					<p>Interest <br> <b>Music, book, film</b></p>
				</li>
			</ul>
			<p id="right" style="padding-left: 140px;">Description <br> <b>I was born in Kediri. Now i live at South Jakarta. <br> I am Computer Science student.</b></p>
		</div>
				
	</section>
	
	<section id="Education">
		<h2>Education & Experience</h2>
		<div class="rectangle">
			<p><b>Senior High School</b> <br> July 2015-Mei 2018</p>
			<div>
				<h3><u>SMAN 1 Grogol</u></h3>
				<ul class="bio">
					<li>
						<p><b>Studi Kerohanian Islam </b><br> 2016-2017 <br> Staff of Dakwah Department</p>
					</li>
					<li>
						<p><b>Pramuka Ambalan Gajah Mada Kartini </b><br> 2016-2017 <br> Staff of Logistic Department</p>
					</li>
				</ul>
				<p><b>Bachelor's Degree</b> <br> August 2018-present</p>
				<h3><u>Universitas Indonesia</u></h3>
				<ul class="bio">
					<li id="space">
						<p><b>DPM Fasilkom UI </b><br> 2018-present <br> Staff of Kestari Department</p>
					</li>
					<li id="space">
						<p><b>FUKI Fasilkom UI </b><br> 2018-present <br> Staff of Quran Department</p>
					</li>
					<li>
						<p><b>BEM Fasilkom UI </b><br> 2018-present <br> Staff of Academic and Leadership Department</p>
					</li>
				</ul>
			</div>	
		</div>
	</section>

	<section id="Contact">
		<h2>Contact Me</h2>
		<div class="rectangle" style="padding: 140px;">
			<ul class="bio">
				<li id="right">
					<p>Email</p>
					<p>Facebook</p>
					<p>Instagram</p>
					<p>LinkedIn</p>
					<p>Twitter</p>
				</li>
				<li id="right">
					<a href="http://gmail.com"> <p>hidayahnunun@gmail.com</p> </a>
					<a href="https://www.facebook.com/hidayah.nunun"> <p>Nunun Hidayah</p> </a>
					<a href="https://www.instagram.com/nunun_hidayah/?hl=id"> <p>nunun_hidayah</p> </a>
					<a href="https://www.linkedin.com/in/nunun-hidayah-349219180/?originalSubdomain=id"> <p>Nunun Hidayah</p> </a>
					<a href="https://twitter.com/nunun_hdy"> <p>@nunun_hdy</p> </a>
				</li>
			</ul>
		</div>		
	</section>
{% endblock %}